<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <title>Contacto</title>
</head>
<body>
    <header>
        <div class="navegacion">
            <div class="logo">
                <a href="/index.html"><img src="/assets/images/logo2_1.png" alt="logo"></a>
            </div>
            <nav>
                <ul class="lista">
                    <li><a href="/index.html">Inicio</a></li>
                    <li><a href="galeria.html">Facts</a></li>
                    <li><a href="presupuesto.html">Suscripción</a></li>
                    <li><a class="activo" href="#">Contacto</a></li>
                </ul>
            </nav>           
        </div>
    </header>
    <main>
        <div class="container">
            <div id="map"></div>
            <div id="indicaciones"></div>
        </div>
    </main>
    <footer>
        <div class="redes-sociales">
            <a href="https://www.instagram.com/juanjojurado10" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/instagram.png" alt="Instagram">
              </a>
              <a href="https://www.linkedin.com/in/juan-jos%C3%A9-jurado-1a5948245" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/linkedin.png" alt="LinkedIn">
              </a>
              <a href="mailto:juradomagdalenojuanjose@gmail.com">
                <img src="/assets/images/gmail.png" alt="Gmail">
              </a>
        </div>
        <p>&copy; 2023 JuanjoDev - Todos los derechos reservados</p>
    </footer>

    <script src="/js/main.js"></script>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADpSd51LTRcpW1Eux235Cjo1nD_h09fTU&callback=initMap"></script>
   
</body>
</html>