<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Galería</title>
</head>

<body>
    <header>
        <div class="navegacion">
            <div class="logo">
                <a href="/index.html"><img src="/assets/images/logo2_1.png" alt="logo"></a>
            </div>
            <nav>
                <ul class="lista">
                    <li><a href="/index.html">Inicio</a></li>
                    <li><a class="activo" href="#">Facts</a></li>
                    <li><a href="presupuesto.html">Suscripción</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="content">
            <h1>Datos diarios interesantes</h1>
            <hr>
            <div class="images">    
                <div class="galeria">
                    <img src="/assets/images/semafoto.jpg" alt="semaforo_en_rojo">
                    <p>En promedio, una persona pasará seis meses de su vida esperando a que los semáforos cambien de
                        color.</p>
                </div>
                <div class="galeria">
                    <img src="/assets/images/emperor-penguins-15.webp" alt="pinguino_emperador">
                    <p>El pingüino emperador es la especie de pingüino más grande y puede sumergirse a profundidades de
                        hasta 550 metros (1,800 pies) mientras busca comida.</p>
                </div>
                <div class="galeria">
                    <img src="/assets/images/aoshima.avif" alt="aoshima">
                    <p>En Japón, existe una isla habitada por más de mil gatos llamada "Aoshima", que se ha convertido
                        en un destino turístico popular para los amantes de los felinos.</p>
                </div>
                <div class="galeria">
                    <img src="/assets/images/miel.jpg" alt="miel">
                    <p>La miel nunca se echa a perder. Se han encontrado tarros de miel en antiguas tumbas egipcias que
                        datan de hace más de 3,000 años y aún estaban comestibles.</p>
                </div>
                <div class="galeria">
                    <img src="/assets/images/muralla.jpeg" alt="muralla_china">
                    <p>La Gran Muralla China no es una estructura única y continua, sino una serie de muros y
                        fortificaciones interconectados que se construyeron a lo largo de siglos, abarcando más de
                        21,000 kilómetros en total.</p>
                </div>
                <div class="galeria">
                    <img src="/assets/images/ojo.jpg" alt="ojo">
                    <p>El ojo humano es capaz de distinguir aproximadamente 10 millones de colores diferentes.</p>
                </div>
            </div>
            <div class="sliders left">
                <span><i class="fa-solid fa-angle-left"></i></span>
            </div>
            <div class="sliders right">
                <span><i class="fa-solid fa-angle-right"></i></span>
            </div>

            <div class="btm-slides">
                <span class="btn" id="btn-1"></span>
                <span class="btn" id="btn-2"></span>
                <span class="btn" id="btn-3"></span>
                <span class="btn" id="btn-4"></span>
                <span class="btn" id="btn-5"></span>
                <span class="btn" id="btn-6"></span>
            </div>
        </div>
    </main>
    <footer>
        <div class="redes-sociales">
            <a href="https://www.instagram.com/juanjojurado10" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/instagram.png" alt="Instagram">
              </a>
              <a href="https://www.linkedin.com/in/juan-jos%C3%A9-jurado-1a5948245" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/linkedin.png" alt="LinkedIn">
              </a>
              <a href="mailto:juradomagdalenojuanjose@gmail.com">
                <img src="/assets/images/gmail.png" alt="Gmail">
              </a>
        </div>
        <p>&copy; 2023 JuanjoDev - Todos los derechos reservados</p>
    </footer>
    <script src="/js/galeria.js"></script>
</body>

</html>